<form method="post">
  <table border="1" width="300" padding="2">
    <tr>
      <td><input type="text" name="name" placeholder="name" size="10"></td>
    </tr>
    <tr>
      <td><input type="text" name="subject" placeholder="subject" size="30"></td>
    </tr>
    <tr>
      <td><textarea rows="10" cols="50" name="body"></textarea></td>
    </tr>
    <tr>
      <td><input type="submit" value="write"></td>
    </tr>
  </table>
</form>
<hr>
<table border="1">
  <tr>
    <td>date</td>
    <td>name</td>
    <td>subject</td>
    <td>body</td>
    <td>edit</td>
    <td>delete</td>
  </tr>
<% @articles.each do |r| %>
  <% date = r.updated_at.strftime("%Y-%m-%d") %>
  <tr>
    <td><%= date %></td>
    <td><%= r.name %></td>
    <td><%= r.subject %></td>
    <td><%= r.body.gsub("\n", '<br>') %></td>
    <td><input type="button" value="edit" onclick="location.href='./<%= r.id %>';"></td>
    <td><input type="button" value="delete" data-id="<%= r.id %>" class="js-delete-button"></td>
  </tr>
<% end %>
</table>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
  $(".js-delete-button").click(function(){
    let id = $(this).data("id");
    $.ajax({
      method: "delete",
      url: "./"+id,
      dataType: "json"
    }).done(function(json){
      if(json.status){
        location.reload();
      }
    });
  });
</script>
